<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>
<body>
    
<form action="getform.php" method="get">
    1º Argumento: <input type="text" name="Argumento1" /><br />
    2º Argumento: <input type="text" name="Argumento2" /><br />
  
  <select name="select">
    <option value="valor1" selected>Adição</option>
    <option value="valor2">Subtração</option>
    <option value="valor3">Multiplicação</option>
    <option value="valor4">Divisão</option>
    <option value="valor5">Fatorial</option>
  </select>
    
  <input type="submit" value="Calcular" />
  </form>
    
</body>
</html>