<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página Inicial</title>
    </head>
    <body>
        <h1>{{titulo}}</h1>
        <a href="./calculadora">
            <button style="height: 60px; width: 150px; font-size: large; font-weight: bold; margin-right: 10px;" >Calculadora</button>
        </a>
        <a href="./historico">
            <button style="height: 60px; width: 150px; font-size: large; font-weight: bold;" >Histórico</button>
        </a>
        <h2>{{sub_titulo}}</h2>
        {% for msg in mensagem %}
        <li>
        <span>{{msg}}</span>
    </li>
    {% endfor %}
    
    <h2>{{sub_titulo2}}</h2>
    {% for msg2 in mensagem2 %}
    <li>
        <span>{{msg2}}</span>
    </li>
    {% endfor %}

    <h2>{{sub_titulo3}}</h2>
    {% for msg3 in mensagem3 %}
    <li>
        <span>{{msg3}}</span>
    </li>
    {% endfor %}

</body>
</html>
