<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs</title>
</head>
<script src='static/jquery.min.js'></script>
<script>
    function get_logs() {
        $.ajax({
            url: 'http://localhost:5003/',
            dataType: 'json',
            crossOrigin: true,
            success: function(data){                
                var html = '';
                data['result'].forEach(element => {
                    html += '<tr><td>'
                        +   element
                        + '</td></tr>';
                });

                $('#dataTable').append(html);
            }
        })
    }
</script>
<body onload="get_logs()">
    <h1>Logs</h1>
    <a href="./">
        <button>Página Inicial</button>
      </a>

    <hr>

    <table id="dataTable">
        <tbody>

        </tbody>
    </table>
</body>
</html>
